.number { font-size: 20 pt; font-weight: bold; color: #FF0000 }
.german-title {  font-size: 20pt; font-weight: bold; color: #FF0000}
.english-title { font-size : 16pt }
.author {  font-size: 14pt; font-style: italic}
.goto {  }
.chapter { }

body { color: #FFEE00 }


